/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  margin-right: 10px;
  color: #333;
  background-color: #f8f9fa;
}

.search-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #343a40;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #212529;
}

.header-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header-button.primary {
  background-color: #28a745;
  color: #fff;
  margin-right: 10px;
}

.header-button.danger {
  background-color: #dc3545;
  color: #fff;
}

/* Content Styles */
h2 {
  text-align: center;
  margin-top: 20px;
  color: #007bff;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="submit"] {
  width: calc(100% - 10px);
  padding: 10px;
  margin: 5px 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

p.error {
  color: red;
  margin-top: 10px;
}

p.success {
  color: green;
  margin-top: 10px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #dee2e6;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: #fff;
}

/* Checkbox Styles */
.cyberpunk-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #28a745;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #28a745;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

#addForm {
  display: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

#addForm h2 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

#addForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#addForm input[type="text"],
#addForm input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

#addForm input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#addForm input[type="submit"]:hover {
  background-color: #0056b3;
}
.copy-text a {
    text-decoration: none; /* Remove underline */
    color: black; /* Change color to black */
    cursor: pointer; /* Optional: Set cursor to pointer */
}

